
.center {
    width: 65%;
    text-align: center;
    border: 1px solid rgb(216, 216, 216);
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

.num_input {
    width: 40px;
}

#app {
    text-align: center;
    font-family: sans-serif;
}
#problem {
    font-size: 24px;
}
#round_over {
    font-size: 36px;
}

#time {
    font-family: sans-serif;
}

#final_score {
    font-size: 48px;
    margin-top: 100px;
}

ul {
    list-style: none;
}

.user_header {
    margin:4px;
}

.form-group {
    margin: 4px;
}

#login_button {
    margin: 4px;
    margin-top: 0px;
}

#register_button {
    margin: 4px;
    margin-top: 0px;
}

.switch_page {
    margin: 4px;
    margin-top: 0px;
}

.stats {
    margin: 4px;
}





