{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MetaZac</title>
        <script>
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'game/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        <a class="nav-link" href="{% url 'stats' %}">Stats</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
        <div class="center">
            <h3>I &lt3 zetamac</h3>
            <div class="val_container">
                <form action="{% url 'play' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">Addition & Substraction</div>
                    {{add_sub_forms}}
                    <div class="col-12">Multiplication & Division</div>
                    Num1:
                    {{mult_div_forms1}}
                    Num2:
                    {{mult_div_forms2}}
                    <div class="col-12"></div>
                    {{duration_form}}
                    <div class="col-12"></div>
                    <input class="btn btn-primary" type="submit" value="Play">
                </form>
            </div>
        </div>
    </body>
</html>